@font-face {
  font-family:  "Comfortaa";
  font-style:   normal;
  font-weight:  300;
  font-display: swap;
  /*
  src:          url("/assets/comfort aa-li ght.ttf") format("truetype");
  */
}


html {
  background: #2d2d2d;
}


body {
  color: #ba72fb;
}


h1 {
  padding:   2rem 0;
  font-size: 3rem;
}
