{{ define "head" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>go-cloud-run</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style>
      @font-face {
        font-family:  "Comfortaa";
        font-style:   normal;
        font-weight:  300;
        font-display: swap;
        src:          url('{{ "/assets/comfortaa-light.ttf" | asset }}') format("truetype");
      }
    </style>
    <link href='{{ "/assets/favicon.ico" | asset }}' rel="icon"/>
    <link href='{{ "/assets/main.css" | asset }}' rel="stylesheet">
    <script src='{{ "/assets/vendors.js" | asset }}' defer></script>
    <script src='{{ "/assets/main.js" | asset }}' defer></script>
  </head>
  <body>
    <div class="container">
      {{ end }}
      {{ define "foot" }}
    </div>
  </body>
</html>
{{ end }}
